{% extends "base.html" %}

{% load thumbnail products_extras pagination_tags %}

{% block title %}
    Главная &mdash;
{% endblock %}

{% block pre_left %}
    <div class="top">
        <div class="top_relef">
            <img src="/media/img/relef.png" alt="Рельефные картины" />
            <div class="top_text">Рельефные картины</div>
        </div>
        <div class="top_glass">
            <img src="/media/img/glass.png" alt="Художественное стекло" />
            <div class="top_text">Художественное стекло</div>
        </div>
        <div class="top_pic">
            <img src="/media/img/pic.png" alt="Живопись" />
            <div class="top_text">Живопись</div>
        </div>
        <div class="top_bot"></div>
    </div><!--/top-->
{% endblock %}

{% block left %}
    {% block_categories_menu '' %}
{% endblock %}

{% block main %}
    <h1 class="big_space">Интерьеры с нашими товарами</h1>
    <div class="interers">
        {% autopaginate interiorPhotos loaded_count %}
        {% for interiorPhoto in interiorPhotos %}
            <div class="interer{% if forloop.first %} col2{% endif %}">
                {% if forloop.first %}
                    {% thumbnail interiorPhoto.image "370" as im %}
                       <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                    {% endthumbnail %}
                {% else %}
                    {% thumbnail interiorPhoto.image "174" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                    {% endthumbnail %}
                {% endif %}
                <div class="interer_fr"></div>
            </div>
        {% endfor %}
    </div><!--/interers-->

    {% if loaded_count <= interiorPhotos_count %}

    <div class="items_load_out">
        <div class="items_load">
            <a href="#" class="ajax_lnk interer_ajax_load" name="1">Загрузить еще {% get_next_count interiorPhotos_count loaded_count '' 'loaded' %} интерьеров</a>
            <div>осталось {% get_next_count interiorPhotos_count loaded_count '' 'remaining' %}</div>
            <input type="hidden" class="remaining_count" value="{% get_next_count interiorPhotos_count loaded_count '' 'remaining' %}">
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block footer_class %}{% endblock %}
{% block footer_categories %}{% endblock %}


